/* Estilos de carrusel */
.carousel-cards-wrapper {
    display: flex;
    justify-content: center;
}
.carousel-card img {
    max-width: 100%;
    max-height: 100%;
}

/* Estilos personalizados para las tarjetas del carrusel */
.carousel-card {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    margin: 8px;
    transition: transform 0.3s ease-in-out;
}

.carousel-card:hover {
    transform: scale(1.05);
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background: var(--color);
    color: white;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #808080;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
@media (min-width: 768px) {
    .carousel-card img {
        height: 9em;
    }
}