.right-sidebar .sidebar-content {
    padding: 20px;
}

.right-sidebar .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 95%; /* Cantidad de contracción (Es basicamente un container personalizado xd) */
}

.right-sidebar .gallery h6 {
    text-align: center;
    margin: 1px 0 1px 0;
    /*font-weight: 300;*/
}

.right-sidebar .gallery-image {
    width: calc(33.33% - 10px);
    margin-bottom: 10px; /* Espacio entre las filas */
    position: relative;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    width: 90px; /* Ancho fijo para los contenedores de imágenes */
    height: 80px; /* Altura fija para los contenedores de imágenes */
}

.right-sidebar .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-sidebar .gallery-image:nth-child(3n) {
    margin-right: 0;
}

.right-sidebar .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 118, 99, 0.781);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}

.right-sidebar .overlay h6 {
    color: #fff;
    font-weight: 300;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.right-sidebar .gallery-image:hover .overlay {
    height: 100%;
    cursor: pointer;
}